{{- if not .Values.settings.continuousMode -}}
apiVersion: batch/v1
kind: CronJob
metadata:
  name: viti-network-policies-ssi
  namespace: {{ .Values.namespace | default "ssi" }}
spec:
  schedule: {{ .Values.schedule | quote }}
  concurrencyPolicy: {{ .Values.allowConcurrent | ternary "Allow" "Forbid" }}
  successfulJobsHistoryLimit:
    {{ .Values.successfulJobsHistoryLimit | default 3 }}
  failedJobsHistoryLimit: {{ .Values.failedJobsHistoryLimit | default 3 }}
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            app: viti-network-policies-ssi
        spec:
          restartPolicy: Never
          containers:
            - name: viti-network-policies-ssi
              image: {{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}
              imagePullPolicy: Always
              securityContext:
                runAsNonRoot: true
                runAsUser: 1993
                runAsGroup: 1993
                readOnlyRootFilesystem: true
                allowPrivilegeEscalation: false
                capabilities:
                  drop: ["ALL"]
                seccompProfile:
                  type: RuntimeDefault
              resources:
                requests:
                  memory: {{ .Values.limits.memory.min }}
                  cpu: {{ .Values.limits.cpu.min }}
                limits:
                  memory: {{ .Values.limits.memory.max }}
                  cpu: {{ .Values.limits.cpu.max }}
              volumeMounts:
                - name: config
                  mountPath: /app/config
                  readOnly: true
                - name: credentials
                  mountPath: /app/secrets
                  readOnly: true
                - name: logs
                  mountPath: /app/logs
          volumes:
            - name: config
              configMap:
                name: viti-network-policies-ssi-config
            - name: credentials
              secret:
                secretName: viti-network-policies-ssi-secrets
            - name: logs
              emptyDir:
                sizeLimit: 50Mi
{{- end -}}