{{- if .Values.settings.continuousMode -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: viti-network-policies-ssi-deployment
  namespace: {{ .Values.namespace | default "ssi" }}
  labels:
    app: viti-network-policies-ssi
spec:
  replicas: 1
  selector:
    matchLabels:
      app: viti-network-policies-ssi
  template:
    metadata:
      labels:
        app: viti-network-policies-ssi
    spec:
      restartPolicy: Always
      containers:
        - name: viti-network-policies-ssi
          imagePullPolicy: Always
          image: {{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}
          securityContext:
            seccompProfile:
              type: RuntimeDefault
            allowPrivilegeEscalation: false
            capabilities:
              drop: ["ALL"]
            runAsNonRoot: true
            runAsUser: 1993
            runAsGroup: 1993
            readOnlyRootFilesystem: true
          volumeMounts:
            - name: config
              mountPath: /app/config
              readOnly: true
            - name: credentials
              mountPath: /app/secrets
              readOnly: true
            - name: logs
              mountPath: /app/logs
              readOnly: false
          resources:
            requests:
              memory: {{ .Values.limits.memory.min }}
              cpu: {{ .Values.limits.cpu.min }}
            limits:
              memory: {{ .Values.limits.memory.max }}
              cpu: {{ .Values.limits.cpu.max }}
      volumes:
        - name: config
          configMap:
            name: viti-network-policies-ssi-config
        - name: credentials
          secret:
            secretName: viti-network-policies-ssi-secrets
        - name: logs
          emptyDir:
            sizeLimit: 50Mi
{{- end -}}