{{- if .Values.settings.continuousMode -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: viti-network-policies-ssi-deployment
  namespace: {{ .Values.namespace | default "ssi" }}
  labels:
    app: viti-network-policies-ssi
spec:
  replicas: 1
  selector:
    matchLabels:
      app: viti-network-policies-ssi
  template:
    metadata:
      labels:
        app: viti-network-policies-ssi
    spec:
      restartPolicy: Always
      initContainers:
      - name: k8s-secret-scribe
        securityContext:
          capabilities:
            drop:
              - ALL
          seccompProfile:
            type: RuntimeDefault
          privileged: false
          allowPrivilegeEscalation: false
          runAsNonRoot: true
          runAsUser: 101
          runAsGroup: 101
          readOnlyRootFilesystem: true
        image: ncr.sky.nhn.no/dcn/k8s-secret-scribe:latest
        command:
          - /bin/sh
          - /scripts/k8s-secret-scribe.sh
        volumeMounts:
        - name: config
          mountPath: /config
        - name: secrets
          mountPath: /secrets/secrets
          readOnly: false
      containers:
        - name: viti-network-policies-ssi
          imagePullPolicy: Always
          image: {{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}
          securityContext:
            seccompProfile:
              type: RuntimeDefault
            allowPrivilegeEscalation: false
            capabilities:
              drop: ["ALL"]
            runAsNonRoot: true
            runAsUser: 1993
            runAsGroup: 1993
            readOnlyRootFilesystem: true
          volumeMounts:
            - name: config
              mountPath: /app/config
              readOnly: true
            - name: secrets
              mountPath: /app/secrets
              readOnly: true
            - name: logs
              mountPath: /app/logs
              readOnly: false
            - name: tmp
              mountPath: /app/tmp
              readOnly: false
          resources:
            requests:
              memory: {{ .Values.limits.memory.min }}
              cpu: {{ .Values.limits.cpu.min }}
            limits:
              memory: {{ .Values.limits.memory.max }}
              cpu: {{ .Values.limits.cpu.max }}
      volumes:
        - name: config
          configMap:
            name: viti-network-policies-ssi-config
        - name: secrets
          secret:
            secretName: viti-network-policies-ssi-secrets
        - name: logs
          emptyDir:
            sizeLimit: 50Mi
        - name: tmp
          emptyDir:
            sizeLimit: 50Mi
{{- end -}}