{{- if and .Values.alarmathan.enable .Values.settings.continuousMode }}
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  annotations:
    prometheus-operator-validated: "true"
  labels:
    release: {{ .Values.alarmathan.metadata.labels.release }}
  name: viti-network-policies-ssi-prometheus-rules
  namespace: {{ .Values.namespace }}
spec:
  groups:
    - name: viti-network-policies-ssi.pod.health
      rules:
      - alert: VITI_NETWORK_POLICIES_SSI_DEPLOYMENT_DOWN
        annotations:
          summary: VITI Network Policies SSI is down (0 available replicas)
          description: Deployment viti-network-policies-ssi-deployment has 0 available replicas in {{`{{ $labels.namespace }}`}}. - https://confluence.nhn.no/x/C7V-Gw
        expr: |
          kube_deployment_status_replicas_available{
            namespace="{{ .Values.namespace }}",
            deployment="viti-network-policies-ssi-deployment"
          } < 1
        for: 5m
        labels:
          app: {{ .Values.alarmathan.labels.app }}
          cluster: {{ .Values.alarmathan.labels.cluster }}
          criticality: {{ .Values.alarmathan.labels.criticality }}
          environment: {{ .Values.alarmathan.labels.environment }}
          namespace: {{ .Values.alarmathan.labels.namespace }}
          severity: {{ .Values.alarmathan.labels.severity }}
          service_id: {{ .Values.alarmathan.labels.service_id | quote }}
          team: {{ .Values.alarmathan.labels.team }}
          varseltilos: {{ .Values.alarmathan.labels.varseltilos }}

      - alert: VITI_NETWORK_POLICIES_SSI_POD_NOT_READY
        annotations:
          summary: VITI Network Policies SSI pod is not Ready
          description: Pod {{`{{ $labels.pod }}`}} in {{`{{ $labels.namespace }}`}} has not been Ready for 5 minutes. - https://confluence.nhn.no/x/C7V-Gw
        expr: |
          min by (namespace, pod) (
            kube_pod_status_ready{
              namespace="{{ .Values.namespace }}",
              pod=~"viti-network-policies-ssi-deployment-.*",
              condition="true"
            }
          ) == 0
        for: 5m
        labels:
          app: {{ .Values.alarmathan.labels.app }}
          cluster: {{ .Values.alarmathan.labels.cluster }}
          criticality: {{ .Values.alarmathan.labels.criticality }}
          environment: {{ .Values.alarmathan.labels.environment }}
          namespace: {{ .Values.alarmathan.labels.namespace }}
          severity: {{ .Values.alarmathan.labels.severity }}
          service_id: {{ .Values.alarmathan.labels.service_id | quote }}
          team: {{ .Values.alarmathan.labels.team }}
          varseltilos: {{ .Values.alarmathan.labels.varseltilos }}

      - alert: VITI_NETWORK_POLICIES_SSI_CONTAINER_WAITING
        annotations:
          summary: VITI Network Policies SSI container waiting (CrashLoop/ImagePull/etc)
          description: Pod {{`{{ $labels.pod }}`}} waiting reason={{`{{ $labels.reason }}`}}. - https://confluence.nhn.no/x/C7V-Gw
        expr: |
          (
            max by (namespace, pod, reason) (
              kube_pod_container_status_waiting_reason{
                namespace="{{ .Values.namespace }}",
                pod=~"viti-network-policies-ssi-deployment-.*",
                reason=~"CrashLoopBackOff|ImagePullBackOff|ErrImagePull|CreateContainerConfigError"
              }
            ) == 1
          )
          or
          (
            sum by (namespace, pod) (
              increase(
                kube_pod_container_status_restarts_total{
                  namespace="{{ .Values.namespace }}",
                  pod=~"viti-network-policies-ssi-deployment-.*"
                }[5m]
              )
            ) > 0
          )
        for: 5m
        labels:
          app: {{ .Values.alarmathan.labels.app }}
          cluster: {{ .Values.alarmathan.labels.cluster }}
          criticality: {{ .Values.alarmathan.labels.criticality }}
          environment: {{ .Values.alarmathan.labels.environment }}
          namespace: {{ .Values.alarmathan.labels.namespace }}
          severity: {{ .Values.alarmathan.labels.severity }}
          service_id: {{ .Values.alarmathan.labels.service_id | quote }}
          team: {{ .Values.alarmathan.labels.team }}
          varseltilos: {{ .Values.alarmathan.labels.varseltilos }}

#   - name: pod.errors
#     rules:
#     - alert: VITI_NETWORK_POLICIES_SSI_ALERT
#       annotations:
#         description: {{ quote "POD '{{ $labels.pod }}' in namespace '{{ $labels.namespace }}' has restarted 3 or more times in the last 5 minutes - https://confluence.nhn.no/x/C7V-Gw" | replace "\"" "" }}
#         summary: {{ quote "VITI Network Policies SSI POD has crashed 3 or more times in the last 5 minutes - POD:{{ $labels.pod }} - https://confluence.nhn.no/x/C7V-Gw" | replace "\"" "" }}
#       expr: |
#         (
#           sum by (namespace, pod) (
#             increase(kube_pod_container_status_restarts_total{
#               namespace="{{ .Values.namespace }}",
#               pod=~"viti-network-policies-ssi-deployment-.*"
#             }[5m])
#           )
#         ) >= 3
#       for: 0m
#       labels:
#         app:  {{ .Values.alarmathan.labels.app }}
#         cluster: {{ .Values.alarmathan.labels.cluster }}
#         criticality: {{ .Values.alarmathan.labels.criticality }}
#         environment: {{ .Values.alarmathan.labels.environment }}
#         namespace: {{ .Values.alarmathan.labels.namespace }}
#         severity: {{ .Values.alarmathan.labels.severity }}
#         service_id: {{ .Values.alarmathan.labels.service_id | quote }}
#         team: {{ .Values.alarmathan.labels.team }}
#         varseltilos: {{ .Values.alarmathan.labels.varseltilos }}
{{ end }}